.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.app {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  height: 100vh;

  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../public/pexels-photo-2847648.png"), center;
  background-size: cover;
}

form {
  background-color: #efedf3;
  padding: 1em 5em;
  border-radius: 10px;
}

h2 {
  color: #23122f;
}

button {
  background-color: #8e3f81 !important;
  font-weight: bold !important;
  border-color: #8e3f81 !important;
  color: #fff !important;
}

button:active {
  border-color: #280228 !important;
  background-color: #421b3c !important;
}

button:focus {
  background-color: #57164e !important;
  border-color: #0e030d !important;
}

button:hover {
  opacity: 0.9;
}

.form-field {
  height: 70px;
}

.form-check {
  height: auto;
}

span {
  font-weight: bolder;
}
